<a href="https://colab.research.google.com/github/BlitzenPrancer/Gold-Price-Prediction/blob/main/Gold_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing the required libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Viewing the data

In [3]:
gold_data = pd.read_csv('/content/drive/MyDrive/csv files/gold_price_data.csv')

In [4]:
gold_data.head(10)

        Date          SPX        GLD        USO        SLV   EUR/USD
0   1/2/2008  1447.160034  84.860001  78.470001  15.180000  1.471692
1   1/3/2008  1447.160034  85.570000  78.370003  15.285000  1.474491
2   1/4/2008  1411.630005  85.129997  77.309998  15.167000  1.475492
3   1/7/2008  1416.180054  84.769997  75.500000  15.053000  1.468299
4   1/8/2008  1390.189941  86.779999  76.059998  15.590000  1.557099
5   1/9/2008  1409.130005  86.550003  75.250000  15.520000  1.466405
6  1/10/2008  1420.329956  88.250000  74.019997  16.061001  1.480100
7  1/11/2008  1401.020020  88.580002  73.089996  16.077000  1.479006
8  1/14/2008  1416.250000  89.540001  74.250000  16.280001  1.486900
9  1/15/2008  1380.949951  87.989998  72.779999  15.834000  1.480210

In [5]:
X = gold_data.drop(['Date','GLD'],axis=1)
Y = gold_data['GLD']

In [6]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=2)